body {
    background-color: #F0F2F5;
}

h1 {
    color: #1877F2;
    display: flex;
    align-items: center;
    top: 172px;
    position: absolute;
    left: 106px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    display: flex;
    align-items: center;
    top: 261px;
    position: absolute;
    left: 106px;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 516px;
}

.container {
    position: absolute;
    top: 91px;
    width: 386px;
    left: 706px;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column;
    margin: 19px -3px;
    box-shadow: 1px 1px 10px;
}

input[type='text'] {
    width: 306px;
    padding: 14px 17px;
    margin: 13px 6px;
    border-radius: 5px;
    font-size: 19px;
    border: 1px solid grey;
}

input[type='password'] {
    width: 306px;
    padding: 14px 17px;
    margin: -3px 6px;
    border-radius: 5px;
    font-size: 19px;
    border: 1px solid grey;
}

button {
    margin: 14px 17px;
    padding: 11px 6px;
    width: 344px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #1877F2;
    border-radius: 5px;
    border: 1px solid #1877F4;
}

.hello {
    text-align: center;
    color: #1877F4;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    margin: 1px 2px;
}

hr {
    width: 95%;
    margin: 20px 2px;
    align-items: center;
}

h2 {
    margin: auto;
    width: 213px;
    border: 2px solid black;
    padding: 15px 8px;
    border-radius: 8px;
    color: white;
    background-color: #36A420;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    border-color: #36A420;
}